.x-folowCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}

.x-folowCard-header {
    display: flex;
     align-items: center;
     gap: 4px;
}

.x-folowCard-div {
    display: flex;
    flex-direction: column;
}

.x-folowCard-span {
    opacity: .6;
}

.x-folowCard-img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.x-folowCard-btn {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}

